@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-sm: 390px;
  --breakpoint-2xl: 1440px;
  --font-nunito: 'Nunito', 'serif';
  --font-poppins: 'Poppins', 'sans-serif';
  --color-primary: #fe705a;
  --color-secondary: #fef4ea;
  --color-circle: #ffdbc1;
  --spacing-big: 38rem;
  --spacing-large: 28rem;
  --spacing-medium: 20rem;
  --spacing-small: 13rem;
  --color-orange: #ff5b35;
  --font-boska: 'Boska', serif;
  --font-zodiak: 'Zodiak', serif;
  --color-black: #262626;
  --color-soft: #e3e3e3;
  --color-footer: #9d9d9d;
  --color-paragraph: #51545d;
  --color-heading: #27333f;
  --spacing-17: 68px;
  --spacing-26: 104px;
  --color-dark: #0f172a;
}

/* Aturan ini memastikan TAMPILAN LAMA (OLD) SELALU DI ATAS */
/* In your input.css file */

/* Default state (for Dark to Light transition) */
::view-transition-old(root) {
  z-index: 9999;
  animation: none !important;
}
::view-transition-new(root) {
  z-index: 1;
  animation: none !important;
}

/* Special state for Light to Dark transition */
html.transitioning-to-dark::view-transition-new(root) {
  /* The new dark view must be on top to be visible */
  z-index: 9999;
}
html.transitioning-to-dark::view-transition-old(root) {
  /* The old light view goes to the bottom to be covered */
  z-index: 1;
}

.navbar-fixed {
  @apply fixed z-[99] bg-white/70 backdrop-blur-[5px] dark:bg-gray-900/50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black dark:bg-white;
}

.hamburger-line-short {
  @apply w-[20px] h-[1.5px] my-2 block bg-black dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
/* KEMBALIKAN SEMUA CLASS TIMELINE ANDA MENJADI SEPERTI INI */

.timeline-img-ssm {
  @apply h-24 w-24 object-center rounded-full shadow-md border-4 border-gray-50 dark:border-gray-800 lg:absolute lg:mx-auto lg:left-0 lg:right-0;
}

.timeline-img-bosnet {
  @apply h-24 w-24 object-cover rounded-full shadow-md border-4 bg-white border-gray-50 dark:border-gray-800 lg:absolute lg:mx-auto lg:left-0 lg:right-0;
}

.timeline-content {
  @apply relative pt-2 lg:pl-16 lg:pt-0 lg:w-1/2 lg:ml-auto;
}

.timeline-content-left {
  @apply lg:ml-0 lg:mr-auto lg:pl-0 lg:pr-16;
}

.timeline-pointer {
  @apply absolute left-10 h-3 w-4 lg:left-14 lg:top-11 transform rotate-45 inset-0 bg-white dark:bg-gray-800;
}

.timeline-pointer-left {
  @apply lg:left-auto lg:right-14;
}
